<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="../assets/logos/rentlogo.png" style="width:25px; padding-right:5px">Rent A Car</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><i class="fa fa-home" style="padding-right:5px"></i>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/cars/carlist"><i class="fa-solid fa-list" style="padding-right:5px" ></i>Car List</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-file-circle-plus" style="padding-right:5px"></i>Add List
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#" routerLink="/brand/addBrand"><i class="fa-solid fa-circle-plus" style="padding-right:5px"></i>Add Brand</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/color/add"><i class="fa-solid fa-circle-plus" style="padding-right:5px"></i>Add Color</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" routerLink="/car/add"><i class="fa-solid fa-circle-plus" style="padding-right:5px"></i>Add Car</a></li>
            </ul>              
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/login" *ngIf="isLoggedIn()==false"><i class="fa-solid fa-arrow-right-to-bracket"  style="padding-right:5px"></i>Sign In</a> 
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-danger" *ngIf="isLoggedIn()==true"  routerLink="/login" (click)="logOut()" ><i class="fa-solid fa-arrow-right-from-bracket"  style="color:white;padding-right:5px;"></i>LogOut</button>
            </li> 
            <li class="nav-item">
              <a class="nav-link" routerLink="/user/register" *ngIf="isLoggedIn()==false"><i class="fa-solid fa-user-plus"  style="padding-right:5px"></i>Sign Up</a> 
            </li>     
        </ul>
        <form class="d-flex" role="search">         
          <app-cart-summary></app-cart-summary>         
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>